doctype
html(lang='en')
  head
    include ../includes/header.pug

    script(src='/js/sidebar.js', defer)
    link(rel='stylesheet', href='/css/sidebar.css')
  body
    include ../includes/sidebar.pug

    #sidebarExtension
      header.text-center.pt-4
        .large-icon.bg-white.round
          img.round(src=user.avatarURL(64), alt=user.username.split(/ +/).slice(0, 3).map(g => g.slice(0, 1)).join(""))
        h4.pt-2 #{user.username}
          span.text-muted ##{user.discriminator}

    include ../includes/navbar.pug

    .container.jumbotron.text-center.bg-transparent
      h1.display-3 Leaderboard
      hr
      p.lead Show your server level #{'&'} economy leaderboard.
    //- script(src='//code.tidio.co/jhxg9ox4aqwxbctufg0ehyv1dqhktlhj.js', async)